*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
/*header*/

header {
  background-color: #070e16;
  padding: 20px;
  display: flex;
  min-height: 120px;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 60px;
  margin-left:50px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ff0000;
}

/*hero*/

/* Import Roboto Condensed font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

.hero {
  background-image: url("hero-background1.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center; /* Center align horizontally */
  align-items: center; /* Center align vertically */
  text-align: center; /* Center align text */
  color: #fff;
}

.hero-content {
  max-width: 600px;
  padding: 20px;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 10px; /* Reduce the bottom margin */
  font-family: 'Roboto Condensed', sans-serif; /* Use Roboto Condensed font */
  font-weight: 700; /* Use bold weight */
}

.hero-content p {
  font-size: 24px;
  margin-bottom: 30px;
  font-family: 'Roboto Condensed', sans-serif; /* Use Roboto Condensed font */
  font-weight: 400; /* Use regular weight */
}

.btn {
  display: inline-block;
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-family: 'Roboto Condensed', sans-serif; /* Use Roboto Condensed font */
}

.btn:hover {
  background-color: #e60000;
}


/*about*/

.about {
  display: flex;
  align-items: center;
  padding: 80px 0;
}

.about-content {
  flex: 1;
  max-width: 600px;
  padding-right: 50px;
  color: #fff;
  margin-left: 5%;
  
  
}

.about h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about p {
  font-size: 18px;
  margin-bottom: 20px;
}

.about-image {
  max-width: 50%;
  margin-right: 5%;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.dark-theme {
  background-color: #070e16;
}


/* menu*/
.bu-events {
  padding: 80px 0;
  text-align: center;
  background-color: #070e16;
}

.bu-events h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #ffffff;
}

.event-items {
  display: flex;
  justify-content: center;
}

.event-item {
  max-width: 300px;
  margin: 0 20px;
  text-align: left;
}

.event-item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.event-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ffffff;
}

.event-item p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #ffffff;
}

/* reservations*/

.reservation {
  padding: 80px 0;
  background-color: #f9f9f9;
}

.reservation-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.reservation h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.reservation-form input,
.reservation-form select,
.reservation-form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.reservation-form select {
  appearance: none;
  background-image: url("dropdown-arrow.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding-right: 30px;
}

.reservation-form textarea {
  resize: vertical;
}

.reservation-form button {
  display: inline-block;
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reservation-form button:hover {
  background-color: #e60000;
}



.clubs {
  padding: 80px 0;
  text-align: center;
}

.clubs h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.club-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.club-item {
  max-width: 300px;
  margin: 10px 20px;
  /* text-align: left; */
}

.club-item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

.club-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.club-item p {
  font-size: 16px;
  margin-bottom: 20px;
}





/* Gallery Section*/

.gallery {
  padding: 80px 0;
  text-align: center;
  background-color: #070e16;
}

.gallery h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #fff;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.image-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}


/* Contact Section*/

.contact {
  background-color: #f9f9f9;
  padding: 80px 0;
  text-align: center;
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.contact-container {
  max-width: 600px;
  margin: 0 auto;
}

.contact-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.info-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-item i {
  margin-right: 10px;
}

.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  display: inline-block;
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #e60000;
}



/* Footer*/

.footer {
  background-color: #070e16;
  padding: 40px 0;
  color: #fff;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.footer-logo img {
  max-width: 150px;
}

.footer-links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.footer-social a {
  color: #fff;
  margin: 0 5px;
  text-decoration: none;
}

.footer-text {
  font-size: 14px;
}

